<div class="col-12  p-3">
    <div class="col-12 p-3 my- h2 text-capitalize border-bottom border-primary">Education Loan Scheme</div>
        

                <mat-form-field class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <mat-label>Scheme Name</mat-label>
                    <mat-select matInput required type="number" [(ngModel)]="selectedItem" placeholder="Select Scheme" name="Scheme" (ngModelChange)="onChange($event)">
                        <mat-option *ngFor="let schemeitem of schemelist" [value]="schemeitem.value"> {{schemeitem.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="col-12 p-3 border-bottom border-primary"></div>
        </div>


    <div *ngIf="newSchemeVisibility">
        <ng-container [ngSwitch]="true">
            <div *ngSwitchCase="selectedItem === 0">
                <div class="col-12 p-3">
                    <app-obc-form> </app-obc-form>
                </div>
            </div>

            <div *ngSwitchCase="selectedItem == 1">
                <app-ebc-form> </app-ebc-form>
            </div>

            <div *ngSwitchCase="selectedItem == 2">
                <div class="col-12 p-3">
                    <app-csis-form> </app-csis-form>
                </div>
            </div>

            <div *ngSwitchCase="selectedItem == 3">
                <app-padho-form> </app-padho-form>
            </div>

            <!-- <div *ngSwitchDefault>
  <app-padho-form> </app-padho-form>
 </div> -->

        </ng-container>
    </div>
